.personalize-container {
    margin: auto;
    padding-bottom: 30px;
    width: 100%;
}

.all-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-edit, .genre-select {
    display: flex;
    flex-direction: column;
    padding-left: 40%;
    width: 100%;
}

.personalize-instructions {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 20%;
    color: #337032;
}

.name-edit input, .search-books input {
    width: 60%;
    min-width: 300px;
    height: 42px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
}

.inputs-personalize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.save-button {
    padding-top: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.search-books {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 950px) {
    .name-edit, .genre-select {
        padding-left: 0%;
        align-items: center;
    }
    .save-button {
        padding-left: 0%;
        align-items: center;
    }
    .leftSide {
        flex-direction: column;
    }
    .personalize-instructions {
        padding-right: 0%;
    }
}

.book-retrieve {
    display: flex;
    gap: 2%;
    padding-bottom: 30px;
}

.search-button, .submit-personalize {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 35px;
    color: #605063;
    font-size: 12px;
    background: #F0ABFB;
    border-radius: 30px;
    cursor: pointer;
}

.submit-personalize {
    width: 120px;
    color: #ffff;
    font-size: 18px;
    background: #337032;
}