.board {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boardInfo {
    background-color: #97AD97;
    height: 20vh;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
}

.go_back {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    padding-left: 15px;
    gap: 5px;
}

.back_svg {
    width: 20px; /* Set the size as needed */
    height: 20px; /* Set the size as needed */
    fill: #154A14;
}
.book-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-cover {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.book-cover img{
    height: 90%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}

.book-title, .book-author{
    color: #fff;
    font-size: 15px;
}

.discover {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    margin: auto;
    height: 35px;
    color: #ffff;
    font-size: 18px;
    background: #337032;
    border-radius: 30px;
    position: relative;
}

.privacy label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%; 
    background-color: white; 
    width: 30%; 
    min-width: 300px;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    left: 50%; 
    transform: translateX(-50%);
}

.dropdown-item {
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dropdown-item:hover {
    background: rgba(0, 0, 0, 0.2);
}

  