.add_pin_modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    background-color: rgba(0,0,0,0.5);
}

.add_pin_container {
    width: 880px;
    height: 674px;
    padding: 35px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    align-items: center;
}

.add_pin_details_image {
    flex: 3;
    display: flex;
}

.add_pin_details_text {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.side {
    width: 50%;
    height: 100%;
    padding: 20px;

}

.section1 {
    width: 100%;
    height: 10%;
}

.section2 {
    width: 100%;
    height: 90%;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0px 10px;
}

#left_side .section1 .pint_mock_icon_container {
    width: 40px;
    height: 40px;
    background: rgba(239,239,239,0);
    transition-duration: 0.2s;
}

#left_side .section1 .pint_mock_icon_container:hover {
    width: 40px;
    height: 40px;
    background: rgba(239, 239, 239, 1);
}

#left_side .section2 #upload_img_label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: rgb(95, 97, 95);
    font-size: 14px;
}

#left_side .section2 #upload_img_label input {
    width:0;
    height:0;
    opacity:0;
}

#left_side .section2 #upload_img_label .upload_img_container {
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 8px;
    
    background-color: #EFEFEF;
}

#left_side .section2 #upload_img_label .upload_img_container #dotted_border{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 3px dashed #DADADA;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#left_side .section2 .pint_mock_icon_container {
    background-color: #d0cece;
}

#right_side .section1 {
    display: flex;
    justify-content: flex-end;
}

#right_side .section1 .select_size {
    width: 236px;
    height: 40px;
    display: flex;
}

#right_side .section1 .select_size select {
    width: 70%;
    height: 100%;
    background-color: #EFEFEF;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: center;
    outline: none;
    font-size: 14px;
}

#right_side .section1 .select_size .save_pin, #right_side .section1 .select_size .update_pin {
    width: 30%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    font-size: 16px;
    font-weight: 700px;
    cursor: pointer;
    background-color: #337032;
    color: white;

    justify-content: center;
    align-items: center;
    display: flex;
}

#right_side .section2 .new_pin_input, .add_pin_details_text .new_pin_input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 16px;

    border:none;
    border-bottom: 2px solid #C6C6C6;
    background-color: transparent;

    outline: none;
}

.pint_mock_icon_container {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    cursor: pointer;
}

.pint_mock_icon {
    width: 50%;
}

.remove_container {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    cursor: pointer;
}

.modal_pin {
    width: 252px;
    height: 512px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    display: none;
}

.pin_image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add_pin_details_text textarea, .section2 textarea {
    font-family: 'Inter', Arial;
}