.container {
    margin: auto;
    margin-top: 150px;
    background: #e9f5fb;
    padding-bottom: 30px;
    width: 70%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
    padding-top: 40px;
}

.text {
    font-size: 38px;
    font-weight: 400;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input {
    display: flex;
    margin: auto;
    width: 50%;
    height: 50px;
    background: #e6eaec;
}

.input img{
    margin: 10px 35px 0px 20px;
}

.input input{
    height: 50px;
    width: 400px;
    background:transparent;
    border: none;
    outline: none;
    font-size: 15px;
}

.forgot-password {
    margin: auto;
    padding-left: 20%;
    margin-top: 35px;
    font-size: 15px;
}

.forgot-password span{
    color: #7cb5d2;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 30px;
    justify-content: center;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 35px;
    color: #ffff;
    background: #b3d7e9;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
}

.gray {
    background:#e6eaec;
    color: #41484d;
}
