* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', Arial;
    background-color: #FAFFEE;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; /* Remove bold style */
}
