.modal_and_pin {
    display: flex; 
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center; 
}

.navigation_bar {
    width: 100%;
    height: 30%;
    position: relative;
    top: 0;
}

.navigation_bar .pint_mock_icon_container {
    width: 60px;
    height: 60px;
    transition-duration: 0.2s;
    position: relative;
    top: 40%;
    left: 85%;
    background-color: #337032;
}

.navigation_bar .pint_mock_icon_container:hover {
    transform: scale(1.1);
    background-color: #33703292;
}

.pin_container {
    margin: 0;
    padding: 0;
    width: 80vw;
    display: grid;
    /* auto fill each pin to 250px and when can't fit in
    boundary, then start a new row
    each new row is 10px */
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 10px;
}

.card {
    margin: 15px 10px;
    padding: 0;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

.card .pin_image img {
    width: 100%; 
    height: auto;
    object-fit: cover;
}

.card_small {
    grid-row-end: span 26;
}

.card_medium {
    grid-row-end: span 33;
}

.card_large {
    grid-row-end: span 45;
}
